:root {
  --clr-gradient-input-border: linear-gradient(
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --clr-red: hsl(0, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-lt-gry-violet: hsl(270, 3%, 87%);
  --clr-dark-gry-violet: hsl(279, 6%, 55%);
  --clr-very-dark-violet: hsl(278, 68%, 11%);

  --ff-default: 'Space Grotesk', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-default);
}
.form__container {
  align-self: center;
  margin-inline: auto;
}
.background__img {
  width: 100%;
}
.card__front {
  position: relative;
}
.card__details {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card__details img {
  align-self: flex-start;
}
.name__cvc {
  display: flex;
  justify-content: space-between;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}
label {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--clr-very-dark-violet);
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1.5px;
}
input {
  color: var(--clr-lt-gry-violet);
  padding: 0.5em;
  font: inherit;
  border: 1px solid var(--clr-lt-gry-violet);
  border-radius: 0.5em;
  font-weight: var(--fw-medium);
}
button {
  padding: 0.75em 2em;
  border-radius: 0.25em;
  border: none;
  color: var(--clr-white);
  background-color: var(--clr-very-dark-violet);
  font-size: 1.15rem;
  font-weight: var(--fw-medium);
}
.date__cvc {
  display: flex;
  gap: 1em;
}
.date {
  display: flex;
  gap: 1em;
}
.date input {
  width: 100%;
}

@media (min-width: 40em) {
  body {
    flex-direction: row;
  }
  .background__img {
    min-height: 100vh;
    width: auto;
  }
}
