:root {

--clr-pr-800: hsl(238, 29%, 16%);
--clr-pr-500: hsl(14, 88%, 65%);

--clr-gradient-1: hsl(273, 75%, 66%);
--clr-gradient-2: hsl(240, 73%, 65%);

--clr-neutral-300: hsl(237, 12%, 33%)
--clr-neurral-400: hsl(240, 6%, 50%)

--clr-neutral-900: hsl(240, 5%, 91%)

--fs-main: 0.75rem;

--ff-default: 'Kumbh Sans', sans-serif;
}
