:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-neutral-dark-blue: hsl(234, 12%, 34%);
  --clr-neutral-grayish-blue: hsl(229, 6%, 66%);
  --clr-neutral-grayish-blue-shadow: hsla(229, 6%, 66%, 0.2);
  --clr-neutral-lt-gray: hsl(0, 0%, 98%);

  --ff-default: 'Poppins', sans-serif;

  --fs-default: 0.9375rem;

  --fw-lt: 200;
  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff-default);
  font-size: var(--fs-default);
  background-color: var(--clr-neutral-lt-gray);
}

.flex-flow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: grid;
  padding: 2em;
  color: var(--clr-neutral-grayish-blue);
  text-align: center;
}

.title {
  font-weight: var(--fw-lt);
  font-size: 1.25rem;
  color: var(--clr-neutral-dark-blue);
}
.title > span {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-dark-blue);
}
.subtitle {
  max-width: 55ch;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 1.5em;
  border-radius: 0.5em;
  gap: 1.5em;
  background-color: white;
  flex: 1;
  max-width: 25em;
  color: var(--clr-neutral-grayish-blue);
  box-shadow: 0.5em 0.5em 1em 0.5em var(--clr-neutral-grayish-blue-shadow);
}

.card[data-category='supervisor'] {
  border-top: 0.375em solid var(--clr-primary-cyan);
}
.card[data-category='builder'] {
  border-top: 0.375em solid var(--clr-primary-red);
}
.card[data-category='karma'] {
  border-top: 0.375em solid var(--clr-primary-orange);
}
.card[data-category='calculator'] {
  border-top: 0.375em solid var(--clr-primary-blue);
}

.card-title {
  color: var(--clr-neutral-dark-blue);
}

.card-text {
  font-size: 0.85rem;
}

.card > img {
  align-self: center;
  width: 15%;
  margin-left: auto;
}

@media (min-width: 40em) {
  .flex-flow {
    flex-direction: row;
  }
}
