:root {
  --clr-blue: hsl(223, 87%, 63%);

  --clr-pale-blue: hsl(223, 100%, 88%);
  --clr-light-red: hsl(354, 100%, 66%);

  --clr-gray: hsl(0, 0%, 59%);
  --clr-dark-blue: hsl(209, 33%, 12%);

  --fs-main: 1.25rem;

  --ff-default: 'Libre Franklin', sans-serif;

  --fw-lt: 300;
  --fw-semibold: 600;
  --fw-bold: 700;
}
