:root {
  --clr-blue: hsl(223, 87%, 63%);

  --clr-pale-blue: hsl(223, 100%, 88%);
  --clr-light-red: hsl(354, 100%, 66%);

  --clr-gray: hsl(0, 0%, 59%);
  --clr-dark-blue: hsl(209, 33%, 12%);

  --clr-pale-blue-shadow: hsla(223, 100%, 88%, 0.5);
  --fs-main: 1.25rem;

  --ff-default: 'Libre Franklin', sans-serif;

  --fw-lt: 300;
  --fw-semibold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: var(--ff-default);
  padding: 2em;
  text-align: center;
  color: var(--clr-gray);
  gap: 3em;
}

.logo {
  margin-inline: auto;
}

.title {
  font-weight: var(--fw-lt);
}

.title > span {
  color: var(--clr-dark-blue);
  font-weight: var(--fw-bold);
}

.text {
  color: var(--clr-dark-blue);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.icons > img {
  max-width: 2em;
  filter: invert(45%) sepia(23%) saturate(3413%) hue-rotate(204deg)
    brightness(97%) contrast(97%);
  border-radius: 50%;
  outline: 1px solid gray;
  padding: 0.3em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

input {
  border-radius: 2em;
  padding: 1em 2.5em;
  outline: 0.1px solid var(--clr-pale-blue);
  border: 0;
  flex-grow: 3;
}
input::placeholder {
  color: var(--clr-gray);
  opacity: 0.5;
  font-size: 0.9rem;
  font-weight: var(--fw-lt);
}

button {
  background-color: var(--clr-blue);
  padding: 1em 3em;
  border: 0;
  border-radius: 2em;
  color: white;
  font-weight: var(--fw-semibold);
  font-size: 0.9rem;
  box-shadow: 0 0.5em 0.5em var(--clr-pale-blue-shadow);
  flex-grow: 1;
}

.error {
  outline: 0.1px solid red;
}

.footer {
  font-size: 0.75rem;
}

@media (min-width: 40em) {
  body {
    width: 35%;
    margin-inline: auto;
  }

  form {
    flex-direction: row;
  }
}
