:root {
  @font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
    font-weight: 400 800;
  }

  --clr-soft-orange: hsl(35, 77%, 62%);
  --clr-soft-red: hsl(5, 85%, 63%);

  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
}
