:root {
  --clr-prm-desat-red: hsl(0, 36%, 70%);
  --clr-prm-soft-red: hsl(0, 93%, 68%);

  --clr-neut-dark-grayish-red: hsl(0, 6%, 24%);

  --gradient-1: (135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: ();

  --ff-default: 'Josefin Sans', sans-serif;

  --fs-main: 1rem;
  --fs-black: 2rem;
  --fs-bold: 1.25rem;

  --fw-lt: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: var(--ff-default);
}

header {
  padding: 2em;
}

.container {
  display: grid;
  gap: 2em;
  padding: 2em;
  width: 100%;
}

.annoucement {
  display: grid;
  max-width: 40em;
  margin-inline: auto;
}

.hero__mobile {
  background-image: url(./images/hero-mobile.jpg);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__desktop {
  display: none;
}

h1 {
  letter-spacing: 0.25em;
  font-size: 3rem;
  max-width: 10ch;
  text-align: center;
  margin-inline: auto;
  text-transform: uppercase;
  color: var(--clr-neut-dark-grayish-red);
  font-weight: var(--fw-bold);
  align-self: center;
}
h1 > span {
  color: var(--clr-prm-desat-red);
  font-weight: var(--fw-lt);
}

p {
  line-height: 1.5;
  color: var(--clr-prm-desat-red);
  font-weight: var(--fw-regular);
  max-width: 40ch;
  align-self: center;
}

.email {
  border-radius: 2em;
  border: 1px solid var(--clr-prm-desat-red);
  padding: 1.5em;
  font: inherit;
  width: 100%;
}
.email:focus-visible {
  border: 1px solid var(--clr-prm-desat-red);
}
.email:focus {
  outline: none;
}
.email::placeholder {
  color: var(--clr-prm-desat-red);
  font-weight: var(--fw-bold);
}
.address {
  max-width: 100%;
  position: relative;
  align-self: self-start;
}
.error__icon {
  position: absolute;
  top: 15px;
  right: 5em;
  display: none;
}

button {
  cursor: pointer;
  position: absolute;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 0;
  height: 100%;
  width: 7em;
  border-radius: 50em;
  right: 0;
}
button img {
  margin-inline: auto;
}

@media (min-width: 768px) {
  .hero__mobile {
    display: none;
  }
  .hero__desktop {
    display: block;
    height: 100vh;
  }
  h1 {
    text-align: left;
    font-size: 5rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.7;
  }
  .container {
    gap: 1em;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
